body, nav, ul, li, p, a, h1, h2, h3, img, div {
    margin: 0;
    padding: 0;
}

p, a, h1, h2, h3 {
  font-weight: normal;
  line-height: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

input,
input:hover,
input:focus,
input:active,
input:checked {
  border: none;
  background: none;
  color: transparent;
}

body {
  width: 100%;
}

.button {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  background: #998675;
  padding: 18px 38px;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  color: #555555;
  text-shadow: #ffffff 0 0 3px;  
}

.title {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.txt {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.header {
    background-image: url(../img/bg_photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6d6b68;
    padding: 40px 0;
    width: 100%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    max-width: 1178px;
    /*width: 80%;*/
    margin: 0 auto;
}

.logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 185px;    
    color: #fff;
    margin: 0 168px 0 0;
}

.logo-link:hover .logo-icon {
    fill: #c7b299;
}
  
  .logo-link:hover .logo-txt {
    color: #c7b299;
}
  
  .logo-link:active .logo-icon {
    fill: #c7b299;
}
  
  .logo-link:active .logo-txt {
    color: #c7b299;
}
  
.logo-icon {
    fill: CurrentColor;
}
 
.logo-txt {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;    
}

.header-list {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    margin: 0 30px 0 0;
}

.header-item {
  margin: 0 30px 0 0;
}


.header-item-link {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
}

.header-item-link:hover,
.header-item-link:focus,
.header-item-link:active {
  color: #c7b299;
}

.wrp-cs {
  min-width: 183px;
  display: flex;
  justify-content: space-between;
}

.cart-link, .search-link {     
    color: #ffffff;
    padding-top: 12px;
}

.cart-link:hover .cart-icon, 
.cart-link:active .cart-icon,
.search-link:hover .search-icon,
.search-link:active .search-icon {
    fill: #c7b299;
}

.cart-icon, .search-icon {
    fill: CurrentColor;
}

input[type=search] {
  font-family: inherit;
  font-size: 100%;
  background-image: url(../img/icon_search.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
    width: 27px;
    height: 28px;
    margin: 12px 103px 0 0;
    color: #ffffff;
    border: none;
}

input[type=search]:hover,
input[type=search]:active {
  background-image: url(../img/icon_search-hover.svg);
}

input[type=search]:focus {
    width: 130px;
    transition: width 1s ease-out;
    background-image: url(../img/icon_search-hover.svg);
    padding-left: 32px;
    margin-left: 27px;
    background-color: #6d6b68;
    border: none;
    cursor: auto;
}

.header-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1620px;
  min-height: 840px;
  /*margin-top: 200px;*/
  margin: 0 auto;
  /*padding: 85px 185px 0;*/  
}

.header-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin-bottom: 330px;*/
}

.header-slide-slogan {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 13px;
}

.header-slide-title {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 17px;
}

.header-slide-about {
  margin-bottom: 53px;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  max-width: 562px;
}

.header-slider-arrowl,
.header-slider-arrowr {
  color: #ffffff;
  fill: CurrentColor;
}

.header-slider-arrowl:hover,
.header-slider-arrowr:hover,
.header-slider-arrowl:focus,
.header-slider-arrowr:focus,
.header-slider-arrowl:active,
.header-slider-arrowr:active {
  fill: #c7b299;
}

.header-slider-radio {
  margin: 0 auto;
  width: 120px;
}

input[type=radio] {
  width: 11px;
  height: 11px;
  opacity: 0.5;
  background-color: #ffffff;
  margin: 4px;
}

input[type=radio]:hover,
input[type=radio]:focus {
  width: 13px;
  height: 13px;
  border: 2px solid #d3c1ad;
  background-color: #555555;
  margin: 2px 3px;
}

input[type=radio]:active,
input[type=radio]:checked {
  width: 15px;
  height: 15px;
  border: 2px solid #d3c1ad;
  background-color: #555555;
  margin: 0 2px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.services-list {
  max-width: 1174px;
  width: 58%;
  margin: 0 21% 80px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.services-points {  
  width: 266px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
  color: #555555;
}

.services-points:after {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background-color: #fbfaf8;
  margin: 0 auto;
  align-self: flex-end;
}

.services-points:hover:after {
  background-color: #c7b299;
}

.services-points-link {
  text-align: center;  
  color: #555555;
}

.services-points-title {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 20px;
}

.services-points-txt {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 30px;
}

.services-points:hover .services-points-icon,
.services-points:focus .services-points-icon {
  fill: #c7b299;
}

.services-points:hover .services-points-title,
.services-points:focus .services-points-title {
  color: #c7b299;
}

.services-points-icon {
  fill: CurrentColor;
  margin-bottom: 28px;
}

.screenshots {
  background-color: #fbfaf8;
  padding-top: 80px;
}

.screenshots-title {
  text-align: center;
  margin: 0 0 28px 0;
}

.screenshots-txt {
  width: 757px;
  text-align: center;
  margin: 0 auto 40px;
}

.screenshots-carousel {
  display: flex;
  max-width: 1230px;
  margin: 0 auto;
  position: relative;
  height: 482px;
}

.screenshots-carousel-screen1 {  
  height: 400px;
  position: absolute;
  top: 82px;
  left: 0;
  z-index: 1;
}

.screenshots-carousel-screen2 {  
  height: 482px;
  width: 770px;
  /*margin: 0 auto;*/
  position: absolute;
  top: 0;
  left: 230px;
  z-index: 3;
}

.screenshots-carousel-screen3 {
  height: 400px;
  position: absolute;
  top: 82px;
  right: 0;
  z-index: 2;
}

.rate {
  height: 100px;
  background-color: #f4f5f8;
  background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
  padding-top: 50px;
}

.rate-wrp {
  max-width: 1174px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.rateus-title {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 8px;
}

.rateus-title-color {
  color: #c7b299;
}

.rateus-txt {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
}

.purchase {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  background: #998675;
  padding: 18px 38px;
  border-radius: 3px;
}

.projects {
  padding-top: 82px;
  margin-bottom: 80px;
}

.projects-wrp { 
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.projects-title {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin-bottom: 28px;
}

.projects-txt {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 20px;
  width: 757px;
  margin: 0 auto 20px;
}

.projects-tabs {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  max-width: 655px;
  margin: 0 auto 20px;
}

.projects-button {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  line-height:normal;
  font-weight: 300;
  color: #8c8c8c;  
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 10px 25px;  
  display: flex;
  flex-wrap: nowrap;
}

.projects-button:hover,
.projects-button:focus {
  background-color: #998675;
  color: #ffffff;
}

.projects-button:active {
  opacity: 0.7;
  border: none;
}

.projects-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.projects-card {
  margin: 0 15px 30px;
  position: relative;
}

.projects-card:hover:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/link_project.svg);
  position: absolute;
  top: 30%;
  left: 40%;
  right: 0;
  bottom: 0;
}

.projects-card:hover:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/lupa_project.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 30%;
  left: 55%;
  right: 0;
  bottom: 0;
}

.projects-card-title {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
  padding: 30px 30px 15px;
}

.projects-card-txt {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
  padding: 0 30px 28px;
}

.projects-card-about {
  width: 370px; 
  background-color: #fbfaf8;
  position: relative;  
  margin-top: -5px;
}

.projects-card-about:before {
  content: "";
  display: block;
  border: 30px solid transparent;	
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -40px;
  left: 15px;
}

.projects-card:hover .projects-card-about {
  background-color: #362f2d;
}

.projects-card:hover .projects-card-about:before {
    border-bottom: 10px solid #362f2d;
}

.projects-card-about:hover .projects-card-title {
  color: #ffffff;
}

.projects-bigbutton {
  width: 170px;
  margin: 0 auto;
}

.video {
  width: 100%;
  min-height: 300px;
  border: 1px solid;
  position: relative;
  color: #fff;
  display: flex; 
}

.video:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #362f2d;
  opacity: 0.4;
  z-index: 1;
}

.video-file {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.video-play-icon {
  width: 70px;
  margin: 0 auto;  
  position: absolute;
  top: 17%;
  left: 47%;
  color: #ffffff;
  fill: CurrentColor;
  padding: 15px;
  background: rgba(89,90,97,0.5);
  border-radius: 50px;
  z-index: 2;
}

.video-play-icon:hover,
.video-play-icon:focus {
  fill: #c7b299;
  background: rgba(89,90,97,0.8);
}

.video-about {
  width: 552px;
  margin: 0 auto;  
  text-align: center;
  position: absolute;
  top: 38%;
  left: 35%;  
  z-index: 2;
}

.video-title {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 28px;
}

.video-txt {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 38px;
}

.video-time {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #c7b299;
}

.formobile {
  background-color: #fbfaf8;
  padding-top: 80px;
}

.formobile-wrp {
  max-width: 1110px;
  min-height: 616px;
  margin: 0 auto;
  background-image: url(../img/iphone_in_hand.png);
  background-repeat: no-repeat;

}

.formobile-about {
  width: 657px;
  margin-left: 423px;
  padding:110px 0 0 30px;
}

.formobile-title {
  margin-bottom: 40px;
}

.formobile-txt {
  margin-bottom: 40px;
  text-align: justify;
}

.formobile-list {
  margin-left:100px;
}

.formobile-item {
  line-height: 32px;
  position: relative;
  margin-bottom: 15px;
}

.formobile-item:before {
  content: ">";
  display: block;
  position: absolute;
  top: 8px;
  left: -50px;
  font-size: 21px;
  font-weight: bold;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #c7b299;
  text-align: center;
  line-height: 21px;
  color: #fff;
}