body, nav, ul, li, p, a, h1, h2, h3, img, div {
    margin: 0;
    padding: 0;
}

p, a, h1, h2, h3 {
  font-weight: normal;
  line-height: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

input,
input:hover,
input:focus,
input:active,
input:checked {
  border: none;
  background: none;
  color: transparent;
}

body {
  width: 100%;
  box-sizing: border-box;
}

.button {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  background: #998675;
  padding: 18px 38px;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  color: #555555;
  text-shadow: #ffffff 0 0 3px;  
}

.title {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.txt {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.header {
    background-image: url(../img/bg_photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6d6b68;
    padding: 40px 0;
    width: 100%;
    box-sizing: border-box;
}

.header-top {
    display: flex;
    justify-content: space-between;
    max-width: 1208px;
    width: 70%;
    margin: 0 auto;
}

.logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 185px;    
    width: 15%;
    color: #fff;
    margin: 0 30px 0 0;
}

.logo-link:hover .logo-icon {
    fill: #c7b299;
}
  
  .logo-link:hover .logo-txt {
    color: #c7b299;
}
  
  .logo-link:active .logo-icon {
    fill: #c7b299;
}
  
  .logo-link:active .logo-txt {
    color: #c7b299;
}
  
.logo-icon {
    fill: CurrentColor;
}
 
.logo-txt {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;    
}

.header-menu {
  max-width: 640px;
  width: 50%;
  margin: 0 20px;
}

.burgmenu,
#menu {
  display: none;
}

input[type="checkbox"]:checked ~ .header-list {
  visibility: visible;
  display: flex;
  height: auto;
  max-height: 80px;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    padding-top: 20px;
}

.header-item {
  display: block;
  margin: 0 10px 0 0;
}


.header-item-link {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
}

.header-item-link:hover,
.header-item-link:focus,
.header-item-link:active {
  color: #c7b299;
}

.wrp-cs {
  min-width: 183px;
  width: 14%;
  display: flex;
  justify-content: space-between;
}

.cart-link, .search-link {     
    color: #ffffff;
    padding-top: 12px;
}

.cart-link:hover .cart-icon, 
.cart-link:active .cart-icon,
.search-link:hover .search-icon,
.search-link:active .search-icon {
    fill: #c7b299;
}

.cart-icon, .search-icon {
    fill: CurrentColor;
}

input[type=search] {
  font-family: inherit;
  font-size: 100%;
  background-image: url(../img/icon_search.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
    width: 27px;
    height: 28px;
    margin: 12px 103px 0 0;
    color: #ffffff;
    border: none;
}

input[type=search]:hover,
input[type=search]:active {
  background-image: url(../img/icon_search-hover.svg);
}

input[type=search]:focus {
    width: 130px;
    transition: width 1s ease-out;
    background-image: url(../img/icon_search-hover.svg);
    padding-left: 32px;
    margin-left: 27px;
    background-color: #6d6b68;
    border: none;
    cursor: auto;
}

.header-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1620px;
  min-height: 840px;
  margin: 0 auto; 
}

.header-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-slide-slogan {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 13px;
}

.header-slide-title {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 17px;
}

.header-slide-about {
  margin-bottom: 53px;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  max-width: 562px;
}

.header-slider-arrowl,
.header-slider-arrowr {
  color: #ffffff;
  fill: CurrentColor;
}

.header-slider-arrowl:hover,
.header-slider-arrowr:hover,
.header-slider-arrowl:focus,
.header-slider-arrowr:focus,
.header-slider-arrowl:active,
.header-slider-arrowr:active {
  fill: #c7b299;
}

.header-slider-radio {
  margin: 0 auto;
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.radio-instead {
  width: auto;
}

input[type="radio"] {
  display: none;
}

.radio-fix,
.radio2-fix,
.radio3-fix,
.radio4-fix,
.radio5-fix {
  padding: 0 0 0 20px;
  position: relative;
}

.radio-fix:before,
.radio2-fix:before,
.radio3-fix:before,
.radio4-fix:before,
.radio5-fix:before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;  
  background-color: #fff;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
}

.radio:checked + label:before,
.radio2:checked + label:before,
.radio3:checked + label:before,
.radio4:checked + label:before,
.radio5:checked + label:before {
  background: transparent;
  border: 2px #d3c1ad;
  box-shadow: inset 0 2px 2px #d3c1ad, 0 0 0 2px #d3c1ad;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.services-list {
  max-width: 1174px;
  width: 58%;
  margin: 0 21% 80px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.services-points {  
  max-width: 266px;
  min-width: 250px;
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
  color: #555555;
}

.services-points:after {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background-color: #fbfaf8;
  margin: 0 auto;
  align-self: flex-end;
}

.services-points:hover:after {
  background-color: #c7b299;
}

.services-points-link {
  text-align: center;  
  color: #555555;
}

.services-points-title {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 20px;
}

.services-points-txt {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 30px;
}

.services-points:hover .services-points-icon,
.services-points:focus .services-points-icon {
  fill: #c7b299;
}

.services-points:hover .services-points-title,
.services-points:focus .services-points-title {
  color: #c7b299;
}

.services-points-icon {
  fill: CurrentColor;
  margin-bottom: 28px;
}

.screenshots {
  background-color: #fbfaf8;
  padding-top: 80px;
}

.screenshots-title {
  text-align: center;
  margin: 0 0 28px 0;
}

.screenshots-txt {
  max-width: 757px;
  text-align: center;
  margin: 0 auto 40px;
}

.screenshots-carousel {
  width: 64%;
  margin: 0 auto;
  min-height: 482px;
  background-image: url('../img/browser_scr-sec.jpg'),
                    url('../img/browser_scr-fst.jpg'),
                    url('../img/browser_scr-thr.jpg');

  background-size: 65%, 60%, 60%;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;  
}

.rate {
  height: 100px;
  background-color: #f4f5f8;
  background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
  padding-top: 50px;  
}

.rate-wrp {
  max-width: 1174px;
  width: 62%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.rateus-title {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 8px;
}

.rateus-title-color {
  color: #c7b299;
}

.rateus-txt {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
}

.purchase {
  max-width: 170px;
  padding: 18px 28px;  
}

.projects {
  padding-top: 82px;
  margin-bottom: 80px;
}

.projects-wrp { 
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.projects-title {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin-bottom: 28px;
}

.projects-txt {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 20px;
  max-width: 757px;
  width: 64%;
  margin: 0 auto 20px;
}

.projects-tabs {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  max-width: 655px;
  margin: 0 auto 20px;
}

.projects-button {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  line-height:normal;
  font-weight: 300;
  color: #8c8c8c;  
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 10px 25px;  
  display: flex;
  flex-wrap: nowrap;
}

.projects-button:hover,
.projects-button:focus {
  background-color: #998675;
  color: #ffffff;
}

.projects-button:active {
  opacity: 0.7;
  border: none;
}

.projects-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1160px;
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
}

.projects-card {
  margin: 0 0 30px;
  position: relative;
}

.projects-card:hover .projects-card-screen {
  filter: brightness(60%);
}

.projects-card:hover .projects-card-btnl,
.projects-card:hover .projects-card-btnz {
  display: block;
}

.projects-card-about {
  max-width: 370px; 
  background-color: #fbfaf8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;  
  margin-top: -5px;
}

.projects-card-about:before {
  content: "";
  display: block;
  border: 30px solid transparent;	
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -40px;
  left: 15px;
}

.projects-card:hover .projects-card-about {
  background-color: #362f2d;
}

.projects-card:hover .projects-card-about:before {
    border-bottom: 10px solid #362f2d;
}

.projects-card-about:hover .projects-card-title {
  color: #ffffff;
}

.projects-card-title {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
  padding: 30px 30px 15px;
}

.projects-card-txt {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
  padding: 0 30px 28px;
}

.projects-card-btnl {
  display: none;
  width: 27px;
  height: 27px;
  border:none;
  position: absolute;
  top: 30%;
  left: 37%;
  right: 0;
  bottom: 0;
  background-color: transparent;
  color: #ffffff;
}

.projects-card-btnl:hover .projects-card-icon,
.projects-card-btnz:hover .projects-card-icon {
  fill: #c7b299;
}

.projects-card-icon {
  fill: currentColor;
}

.projects-card-btnz {
  display: none;
  width: 27px;
  height: 27px;
  border:none;
  position: absolute;
  top: 30%;
  left: 52%;
  right: 0;
  bottom: 0;
  background-color: transparent;
  color: #ffffff;
}

.projects-bigbutton {
  width: 170px;
  margin: 0 auto;
}

.video {
  width: 100%;
  min-height: 705px;
  position: relative;
  color: #fff;
  display: flex; 
  overflow: hidden;  
}

.video:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #362f2d;
  opacity: 0.4;
  z-index: 1;
}

.video-file {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.video-play-icon {
  width: 70px;
  margin: 0 auto;  
  position: absolute;
  top: 17%;
  left: 47%;
  color: #ffffff;
  fill: CurrentColor;
  padding: 15px;
  background: rgba(89,90,97,0.5);
  border-radius: 50px;
  z-index: 2;
}

.video-play-icon:hover,
.video-play-icon:focus {
  fill: #c7b299;
  background: rgba(89,90,97,0.8);
}

.video-about {
  max-width: 552px;
  width: 30%;
  margin: 0 auto;  
  text-align: center;
  position: absolute;
  top: 38%;
  left: 35%;  
  z-index: 2;
}

.video-title {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 28px;
}

.video-txt {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 38px;
}

.video-time {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #c7b299;
}

.formobile {
  background-color: #fbfaf8;
  padding-top: 80px;
  box-sizing: border-box;
}

.formobile-wrp {
  max-width: 1110px;
  width: 58%;
  min-height: 616px;
  margin: 0 auto;
  background-image: url(../img/iphone_in_hand.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.formobile-about {
  max-width: 657px;
  width: 60%;
  margin-left: 40%;
  padding:110px 0 0 30px;
}

.formobile-title {
  margin-bottom: 40px;
}

.formobile-txt {
  margin-bottom: 40px;
  text-align: justify;
}

.formobile-list {
  margin-left:100px;
}

.formobile-item {
  line-height: 32px;
  position: relative;
  margin-bottom: 15px;
}

.formobile-item:before {
  content: ">";
  display: block;
  position: absolute;
  top: 8px;
  left: -50px;
  font-size: 21px;
  font-weight: bold;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #c7b299;
  text-align: center;
  line-height: 21px;
  color: #fff;
}

.counters {
  width: 100%;  
  height: 300px;
  background-color: #f4f5f8;
  background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);  
}

.counters-list {
  max-width: 925px;
  width: 48%;
  margin: 0 auto;
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
}

.counters-item {
  max-width: 136px;
  min-height: 172px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #c7b299;
}

.counters-icon {
  fill: currentColor;
  margin-bottom: 30px;
}

.counters-number {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #ffffff;
  margin-bottom: 20px;
}

.counters-agenda {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.counters-item:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fbfaf8;
  margin: 0 auto;
  align-self: flex-end;
}

.posts {
  padding-top: 82px;
  margin-bottom: 80px;
}

.posts-wrp { 
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.posts-title {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin-bottom: 28px;
}

.posts-txt {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 20px;
  max-width: 757px;
  width: 64%;
  margin: 0 auto 20px;
}

.posts-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1160px;
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
}

.posts-card {
  margin: 0 0 30px;
  position: relative;
}

.posts-card-about {
  max-width: 370px; 
  background-color: #ffffff;
  border: 1px solid #f8f8f8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;  
  margin-top: -5px;
}

.posts-card:hover .posts-card-about {
  background-color: #362f2d;
  border: none;
}

.posts-card:hover .posts-card-screen {
  filter: brightness(60%);
}

.posts-card:hover .posts-card-title {
  color: #c7b299;
}

.posts-card-title {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #555555;
  padding: 30px 30px 15px;
}

.posts-card-txt {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
  padding: 0 30px 27px;
}

.more-wrp {
  display: flex;
  justify-content: flex-start;
}

.posts-card-more {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
  padding: 0 0 30px 30px;
}

.more-arrow {  
    width: 0;
    height: 0;
    padding: 0;
    margin: 8px 7px;
    border: 3px solid transparent; border-left: 3px solid #c7b299;
}

.projects-card:hover .more-arrow,
.projects-card:focus .more-arrow {
  background-color: #362f2d;
}

.posts-card-date {
  width: 50px;
  border:none;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 0;
  bottom: 0;  
}

.date {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  background-color: #363636;
  opacity: 0.7;
  padding: 7px 0;
  text-align: center;
  border-radius: 3px 3px 0px 0px;
}

.month {
  font-family: 'roboto', 'arial', sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #252525;
  opacity: 0.7;
  padding: 2.5px 0;
  text-align: center;
  border-radius: 0px 0px 3px 3px;
}

.posts-card:hover .date {
  background-color: #c7b299;
  opacity: 1;
}

.posts-card:hover .month {
  background-color: #a48d72;
  opacity: 1;
}

.partners {
  width: 100%;
  background: url(../img/bg_partners.jpg) #211b19 no-repeat;  
  background-size: cover;
}

.partners-list {
  max-width: 1110px;
  width: 58%;
  margin: 0 auto;
  padding: 137px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners-item {
  max-width: 210px;
  min-height: 127px;
  display: flex;
  flex-direction: column;  
  align-items: center;  
}

.partners-logo:hover,
.partners-logo:focus {
  opacity: 0.5;
  color: #211b19;
}

.footer {
  width: 100%;
  min-height: 620px;  
}

.footer-wrp {
  background-color: #191919;
  min-height: 508px;
}

.footer-social {
  max-width: 1170px;
  width: 62%;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-about {
  max-width: 258px;
  width: 20%;
}

.footer-about-txt {
  padding: 28px 0;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #555555;
}

.footer-card-more {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
  padding: 0;
}

.footer-blog {
  max-width: 260px;
  width: 21%;
}

.footer-twitter {
  max-width: 267px;
  width: 23%;
}

.footer-dribble {
  max-width: 271px;
  width: 23.5%;
}


.footer-blog-title,
.footer-twitter-title,
.footer-dribble-title {
  font-family:'raleway', 'arial', sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  padding: 28px 0;
}

.footer-blog-date,
.footer-twitter-date {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
}

.footer-blog-txt,
.footer-twitter-txt {
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.footer-blog-post:hover .footer-blog-date,
.footer-blog-post:focus .footer-blog-date {
  color: #ffffff;
}

.footer-blog-post:hover .footer-blog-txt,
.footer-blog-post:focus .footer-blog-txt {
  color: #c7b299;
}

.tw-color {
  color: #00bff3;
}

.footer-dribble-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
}

.footer-dribble-link {
  margin-bottom: 10px;
}

@media (max-width:1024px) and (min-width:577px) {

  .header-slider {    
    min-height: 560px;
  }

  .services-list {
    width: 64%;
    margin: 0 auto 40px;
    padding-top: 40px;    
    flex-wrap: wrap;
  }

  .screenshots {
    padding-top: 60px;
  }
  
  .screenshots-txt {
    width:70%;
  }

  .screenshots-carousel {   
    width: 100%;    
    min-height: 402px;
    margin-bottom: 0;
  }

  .screenshots-carousel-screen2 {
    right: 19%;
  }

  .rate-wrp {
    width: 70%
  }

  .rateus-title {
    font-size: 26px;
  }

  .projects-txt {
    width: 60%;
  }

  .projects-cards {
    max-height: 1155px;
    overflow: hidden;
  }

  .projects-card {
    margin: 0 auto 30px;
  }

  .formobile-wrp {
    width: 88%;
    margin: 0 auto 0 3%;
  }

  .counters-list {
    width: 78%;
  }

  .posts-cards {
    width: 80%;
    max-height: 412px;
    overflow: hidden;
  }
  .partners-list {    
    width: 88%;
    padding: 117px 0;
  }
  
  .partners-item {
    max-width: 210px;
    min-height: 117px;
  }
  .footer-social {
    width: 92%;
  }
}

@media (max-width:576px) {
  
  .header-top {
    width: 94%;
  }

  .logo-link {
    width: 40%;
    padding-left: 30px;
  }

  .logo-icon {
    margin-right: -10px;
  }
  
  .logo-txt {      
      font-size: 38px;          
  }

  .header-menu {    
    min-width: 220px;
    width: 50%;
    position: relative;
  }
 
  .burgmenu {
    display: block;
    width: 55px;
    height: 36px;
    position: absolute;
    top:10px;
    right:0;
    background-image:  url('../img/burg-menu.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .header-list {
    visibility: hidden;
    display: none;
    margin: 0 auto;
    height: 0;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;    
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 55px;
  }
    
  .header-list-link {
    text-align: left;    
  }

  .wrp-cs {
    display: none;
  }

  .header-slider,
  .header-slider-radio {
    display: none;
  }

  .services-list {
    width: 92%;
    margin: 0 auto 40px;
    padding-top: 40px;    
    flex-wrap: wrap;
  }
  
  .services-points {      
    width: 45%;    
  }

  .screenshots {
    display: none;
  }

  .rate {
    display: none;
  }

  .projects {
    padding-top: 10px;
  }

  .projects-cards {
    max-height: 770px;
    overflow: hidden;
  }
  
  .projects-txt {       
    width: 86%;
    margin: 0 auto 10px;
  }

  .projects-tabs {
    display: none;
  }

  .video {
    min-height: 600px;
  }

  .video-play-icon {    
    width: 10%;
    height: auto;
    left: 44%;    
  }  
 
  .video-about {    
    width: 92%;
    top: 41%;    
    left: 4%;
  }

  .formobile {
    padding-top: 30px;
  }

  .formobile-wrp {  
    width: 96%;
    min-height: 426px;
    margin: 0 auto;
    background: none;      
  }
  
  .formobile-about {
    width: 92%;
    margin: 0 auto;
    padding: 20px 0 0 0;
  }
  
  .formobile-title {
    margin-bottom: 40px;
    text-align: center;
  }
  
  .formobile-txt {
    margin-bottom: 40px;
    text-align: justify;
  }
  
  .formobile-list {
    margin-left:0;
    background-image: url(../img/iphone_in_hand.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 10px;
    padding-bottom: 50px;
  }
  
  .formobile-item {
    line-height: 22px;
    position: relative;
    margin-bottom: 15px;
    margin-left: 210px;
    font-size: 14px;
  }

  .formobile-item:before {
    top: 5px;
    left: -40px
  }
  
  .counters {
    display: none;
  }

  .posts-cards {
    max-width: 390px;
    justify-content: center;
    width: 70%;
    max-height: 412px;
    overflow: hidden;
  }

  .partners-list {    
    width: 96%;
    padding: 57px 0;
  }
  
  .partners-item {
    width: 20%;
    min-height: 117px;
  }
  .partners-img {
    width: 100%;
    height: auto;
  }
  .footer-wrp {
    display: none;
  }
}